node_modules
.next
.turbo
out
dist
.git
.github
.env
.env.local
.env.*.local
*.log
coverage
.prisma
generated
README.md
DEPLOYMENT.md
docker-compose*
*.json
!package.json
!tsconfig*.json
!pnpm-workspace.yaml
!pnpm-lock.yaml
